.header{
  width: 100%;
  height: 15%;
  background-color: white;
  color: red;
  margin: 0px;
}
.headerLogeado{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.buttonLogeado {
  border: none;
  background-color: red;
  color: white;
}
.buttonLogeado:hover{
  cursor: pointer;
}
html, body {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: rgb(61, 59, 59);
  color: white;
}
.parrafoError{
  color: red;
  margin-right: 10px;
}

.logo{
  width: 165px;
  height: 60px;
}
.headerBlock{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
  color: red;
}
.input{
  margin: 15px;
  padding: 10px;
  border-radius: 3px;
  border: 2px solid red;
  text-align: center;
  color: red;

}
.botonAction{
  display: inline-block;
  padding: 15px 15px;
  margin-right: 15px;
  cursor: pointer;
  text-align: center;	
  text-decoration: none;
  outline: none;
  color: white;
  background-color: red;
  border: none;
  border-radius: 15px;
}
.botonAction2{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 15px;
  margin-right: 15px;
  cursor: pointer;
  text-align: center;	
  text-decoration: none;
  outline: none;
  color: white;
  background-color: red;
  border: none;
  border-radius: 15px;
}
.botonAction:active{
  border: 1px solid red;
  color: red;
  background-color: white;
  transform: translateY(4px);
}
.offScreen{
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.311);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.regScreen{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: red;
  width: 350px;
  height: 300px;
  border-radius: 5px;
}
.regScreen > input, button{
  margin: 15px;
  height: 25px;
  text-align: center;
  border-radius: 3px;
}
.warning{
  padding-left: 10px;

}
.cerrar{
  position: absolute;
  top: 5px;
  right: 5px;
  color: red;
}
.cerrar:hover{
  cursor: pointer;
}

.completo{
  color: greenyellow;
}
.h3{
  position: absolute;
  top: 0;
  left: 70px;
}
.Products{
  position: relative;
  width: 90%;
  margin: 2%;
  padding: 1%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 10px;
}
.divProduct{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  margin: 2%;
}
.precio{
  color: red;
}
.imgProduct{
  width: 100%;
  height: 60%;
  border-radius: 6px;
  margin-top: 5px;
}
.navBar{
  display: flex;
  flex-direction: row;
  background-color: red;
  color: white;
  width: 100%;

}
.enlace{
  position: relative;
  width: 100%;
  margin-right: 5%;
  margin-left: 3%;
  cursor: pointer;
  display: flex;
  flex-direction: row;
}
.enlace > svg{
  padding-top: 10px;
  margin-right: 10px;
}
.enlace:hover {
  color: black;
}
.divPrecio{
  background-color: red;
  color: white;
  border-radius: 5px;
}
.productScreen{
  z-index: 1;
  position: sticky;
  top: 0;
  width: 100%;
  height:100%;
  background-color: rgba(128, 128, 128, 0.311);
  display: flex;
  flex-direction: row;
  padding-bottom: 5%;
}
.leftScreen{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-radius: 10px 0px 0px 10px;
  padding-top: 20px;
  width: 45%;
  margin-left: 5%;
  margin-top: 5%;
}
.rightScreen{
  position: relative;
  margin-top: 5%;
  background-color: white;
  color: black;
  border-radius: 0px 10px 10px 0px;
  padding-top: 20px;
  width: 45%;
}
.leftScreen > img{
  width: 550px;
  height: 350px;
  border-radius: 10px;
}
.namePrice{
  display: flex;
  flex-direction: row;
  width: 550px;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 20px;
}
.namePrice > b{
  background-color: red;
  text-align: center;
  width: 100%;
  color: white;
  padding: 10px;
  border-radius: 10px;
}
.divComentario{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
#comentario{
  width: 90%;
  height: 100px;
  border-radius: 3px;
  border: none;
  background-color:rgb(58, 58, 58);
  color: white;
}
.divComentario > button{
  width: 20%;
  background-color: red;
  color: white;
  border-radius: 3px;
  border: none;
}
button:hover{
  cursor: pointer;
}

/* con estilos para deslizar los comentarios */
.verComentarios{
  width: 93%;
  position: relative;
  transition: .5s ease;
}
.verComentarios >a{
  margin-left: 6%;
  padding: 5px;
  border-radius: 3px;
  color: white;
  background-color: red;
  margin-right: 25%
}
.verComentarios > a:hover{
  cursor: pointer;
}
.todosComentariosTrue{
  padding: 10px;
  width: 93%;
  height: 150px;
  transition: .5s ease;
  max-height: 150px;
  overflow-y: auto;
}
.noProduct{
  margin-top: 10px;
  color: red;
}
.todosComentarios{
  overflow: hidden;
  width: 93%;
  height:0;
  transition: .5s ease;
}
.comentarios{
  width: 93%;
  border: 1px solid red;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  padding: 5px;
}
.estrella{
  width: 100px;
  height: 20px;
}
.divPuntuar{
  position: absolute;
  top:-20px;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.cerrarProduct{
  color: red;
  position: absolute;
  top: 0;
  right: -50px;
  z-index: 1;
}
.cerrarProduct:hover{
  cursor: pointer;
}
#selectEstrellas ,#selectEstrellas >option, #selectEstrellas{
  background-color: red;
  color: white;
  border: none;
  border-radius: 3px;
  margin-left: 5px;
}
#selectEstrellas:hover{
  cursor: pointer;
}
.estrellas{
  width: 100%;
  height: 50px;
  margin-top: 20px;
}
.puntuar{
  background-color: red;
  border: none;
  color: white;
  border-radius: 3px;
}
.description{
  width: 90%;
  margin-left: 4%;
  text-align: center;
  background-color: rgb(58, 58, 58);
  color: white;
  padding: 10px;
  border-radius: 5px;
}
.precioAñadir{
  margin-top: 5%;
  width: 90%;
  margin-left: 5%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.precioAñadir > a, .precioAñadir > b{
  background-color: red;
  padding: 15px;
  border-radius: 13px;
  color: white;
}
.precioAñadir >b:hover{
  cursor: pointer;
}
.valoraciones{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.valoraciones > p{
  text-align: center;
  width: 100%;
}
.productoCarrito{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  background-color: white;
  color: black;
  margin: 10px;
  align-items: center;
  border-radius: 5px;
}
.productoCarrito > b, svg{
  width: 20%;
  padding: 10px;
}
.productoCarrito > svg:hover{
  cursor: pointer;
}
.precioTotal{
  background-color: red;
  color: white;
  width: 97%;
  padding: 15px;
  border-radius: 5px;
}
.shopItems{
  width: 100%;
}
.shop{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.formPedido{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-top: 20px;
  margin-left: 5%;
  border-radius: 5px;
  width: auto;
}
.formPedido > div > input {
  margin: 10px;
  width: 300px;
  padding: 10px;
  background-color: rgb(58, 58, 58);
  color: white;
  border-radius: 5px;
}
.formLogitos{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.formLogitos > svg{
  background-color: red;
  border-radius: 50%;
  width: 20px;
  margin-left: 5px;
  height: 20px;
}
.formPedido > button {
  padding: 10px;
  background-color: red;
  color:white;
  width: 150px;
  text-align: center;
  height: 50px;
}
h4{
  color: red;
  border-bottom: 1px solid red;
}
.pisoPortal {
  width: 100%;
  display: flex;
  justify-content:center;
  align-items: center;
}
.pisoPortal > input {
  width: 130px !important;
  padding: 10px !important;
  background-color: rgb(58, 58, 58);
  color: white;
}
.totalForm{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;

}
#imgTarjetas{
  height: 100px;
  width: 80%;
  margin-bottom: 10px;
}
#piso{
  margin-right: 10px;
}
.logoForm{
  width: 500px;
  height: 300px;
}
#cvc{
  width: 130px !important;
  padding: 10px !important;
  background-color: rgb(58, 58, 58);
  color: white;
}
.bannerHome{
  background-image: url("https://sm.ign.com/t/ign_it/news/n/nintendo-d/nintendo-direct-february-2023-everything-announced-including_qgqk.1280.jpg");
  width: 100%;
  height: 350px;
  background-size:cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  clip-path: polygon(-180% 0%, 100% 0%, 100% 100%, 100% 100%);
}
.bannerHome > div{
  padding: 20px;
  margin: 5px;
  max-width: 40%;
  text-align: justify;
  color: white;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.153);
}
.intro{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: red;
  margin-bottom: 25px;
}
.intro > h2{
  color: white;
}
.intro-cols{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-left: 4%;
  margin-right: 4%;
  margin-bottom: 25px;
  border-radius: 5px;
  color: red;
}
.intro-cols > div {
  width: 25%;
  background-color: white;
  border-radius: 5px;
}
.iconoIntro{
  width: 100%;
  height: 150px;
  background-size: cover;
  background-image: url("https://d3t4nwcgmfrp9x.cloudfront.net/upload/tendencias-entrega-paquetes-para-2022-643x342.jpg");
  border-radius: 5px 5px 0px 0px;
  
}
h3{
  text-align: center;
}
.intro-cols > div >p {
  padding: 10px;
  text-align: center;
  border-top: 1px solid red;
}
.bannerHome:hover{
  cursor: pointer;
}
.iconoPagar{
  width: 100%;
  height: 150px;
  background-size:cover;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8UoQnlkRJy8PmCxZoTS64v2qRTKoAR63Tew&usqp=CAU");
  border-radius: 5px 5px 0px 0px;
}
.iconoPrecios{
  width: 100%;
  height: 150px;
  background-size:cover;
  border-radius: 5px 5px 0px 0px;
  background-image: url("https://previews.123rf.com/images/dolgachov/dolgachov1603/dolgachov160305561/53969305-las-finanzas-las-personas-el-ahorro-y-la-inversi%C3%B3n-concepto-mujer-de-negocios-feliz-con-euro-del.jpg");
}
.map{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 25px;
}
.map > div{
  display: flex;
  width: 400px;
  flex-direction: column;

}
footer{
  background-color: red;
  color: white;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  position: relative;
  bottom: 0;
}
.divProduct:hover{
  cursor: pointer;
}
a{
  color: white;
}
footer > div{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer > div > a{
  padding: 10px;
  text-align: center;
}
footer > b{
  padding: 10px;
  text-align: center;
}
.redes{
  width: 50px;
  height: 50px;
}
.redes:hover{
  color: black;
  cursor: pointer;
}
.enlace2{
  text-decoration: underline;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cajaEnlace{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center
}
.divBuscador{
  display: flex;
  flex-direction: row;
}
.divInputBuscador{
  display: flex;
  flex-direction: row;
  margin-left: 6%;
  height: 50px;
}
.divInputBuscador > svg{
  width: 25px;
  height: 80%;
  background-color: red;
  border-radius: 5px;
  border: none;
  border-radius: 0 5px 5px 0;

}
.divInputBuscador > input{
  padding: 10px;
  height: 80%;
  background-color: white;
  border: none;
  text-align: center;
  border-radius: 5px 0 0 5px;
}